.textarea{
    height: 30px;
    font-size: 20px;
    width: 300px;
    border: 3px solid lightblue;
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    
}

.label{
    font-size: 25px;
}

.textarea2{
    background-color: rgba(0,0,0,0);
    border: none;
    border-bottom: 2px solid lightcoral;
}

.textarea2:active{
    border: none;
    border-bottom: 2px solid lightcoral;
}

.container{
    height: 600px;
    width: 400px;
    margin: auto;
    margin-top: 200px;
    border-radius: 10px;
    background-color: rgba(180, 180, 255,0.5);
    background-image: url(image\ \(7\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: screen;
}